:root {
    --primary: black;
    --accent: rgb(240, 243, 64);
    --off-dark: gray;
    --off-light: whitesmoke;
}

* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--lightest);
}
